@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* FONT WEIGHT: 300, 400, 500, 600, 700 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(100, 100, 100, 0.1);
}

.bor-bottom {
    padding: 1rem;
    border-bottom: 2px solid rgba(70, 70, 160, 0.2);
}

.main-header {
    background-color: rgb(255, 255, 255);
}

.main-header #logo {
    width: 80px;
}

[class^="divs"] {
    background-color: rgba(90, 90, 90, 0.3);
    /* border: 2px solid #000000; */
    margin: 1px;
}

.navbar-nav .navlink {
    color: rgb(0, 0, 0);
    margin: 2rem 0.3rem;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

.navbar-nav .nav-item:hover {
    background-color: rgba(233, 30, 30, 1);
    transition: 0.3s ease;
}

.nav-item:hover .navlink {
    color: rgb(255, 255, 255);
    transition: 0.1s ease;
}

.navbar-nav .nav-item {
    margin: 0.3rem 0rem;
    padding: 0.3rem;
}

.navbar-nav #profile {
    width: 90px;
    clip-path: circle(27% at 50% 50%);
}

.navbar-nav .last-list:hover {
    background-color: transparent;
}

.navbar #btn-toggler {
    position: absolute;
    top: -64px;
    right: 0;
}

.nav-large-link .ul-large {
    list-style-type: none;
    display: flex;
}

.nav-large-link {
    margin: 1rem 0 0 4rem;
}

.nav-large-link a {
    margin: 0 0 0 2rem;
}

.ul-large .bi {
    width: 1.5rem;
    height: 1.5rem;
}


/* MAIN display */

.main-display .basics {
    width: 90%;
}

.main-display h6 {
    margin: 0;
}

.main-display #btn-change-password {
    width: 40%;
    background-color: transparent;
    border: 2px solid rgba(70, 70, 160, 0.3);
}


/* div2 */


/* div 3 */

.div-3 #btn-cancel-subscription {
    border: none;
    font-size: 0.9rem;
    background-color: transparent;
}


/* card design */

.card-title-def {
    font-size: 0.7rem;
    font-variant: small-caps;
    font-weight: 600;
}

.card-text-storage {
    font-size: 2.3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.card-text-capacity {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.payment-card .cards {
    background-color: rgb(255, 255, 255);
    margin: 0.3rem;
    border: 1px solid rgba(70, 70, 160, 0.3);
    border-radius: 10px;
    padding: 1rem;
}

.hover-card {
    border: 2px solid #23deb3;
    background-color: rgba(35, 222, 179, 0.3);
}

.payment-card .cards:nth-of-type(2) {
    border: 2px solid #23deb3;
    color: #22c8a2;
    background-color: rgba(35, 222, 179, 0.07);
}

.cards p {
    margin: 0;
    font-weight: 600;
}

.check {
    position: relative;
}

.check .bi {
    position: absolute;
    font-size: 1.5rem;
    top: -12px;
    right: 0;
}